.body {

    background-color: #72b2bbaf;
}
.jumbotron {
    color: white;
    background-image: url("../images/CountingProbiotics.jpg");
    background-size: 100% 100%;
    text-align: center;
}
.head {
    background-color: #72b2bbaf;
}
.jumbotron h1{
    color: #fff;
}